{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    {{- with site.Params.homeButtons }}
    <div class="home-buttons">
      {{- range . }}
      <a class="home-cta-button" href="{{ .url | relURL }}">{{ .name }}</a>
      {{- end }}
    </div>
    {{- end }}
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
